body {
  font-family: Quicksand;
}
.display-1 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 5.4rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -4.5px;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -2.8px;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 700;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 500;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #333333 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary {
  border: 0px !important;
  color: #ffffff;
  color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-primary:hover {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary:hover {
  background-color: #1a1a1a !important;
}
.btn-secondary {
  border: 0px !important;
  color: #ffffff;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-secondary:hover {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-info {
  border: 0px !important;
  color: #ffffff;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-info:hover {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-success {
  border: 0px !important;
  color: #ffffff;
}
.btn-success,
.btn-success:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #000000 !important;
}
.btn-success:hover {
  color: #000000 !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-warning {
  border: 0px !important;
  color: #ffffff;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #000000 !important;
}
.btn-warning:hover {
  color: #000000 !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-danger {
  border: 0px !important;
  color: #ffffff;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-danger:hover {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-white {
  border: 0px !important;
  color: #ffffff;
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-white:hover {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #000000 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-black {
  border: 0px !important;
  color: #ffffff;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #000000 !important;
}
.btn-black:hover {
  color: #000000 !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #000000 !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover,
.btn-black:focus {
  background-color: #94f1b6 !important;
  box-shadow: none !important;
}
.btn-primary-outline {
  background-color: transparent !important;
  border: 2px solid #000000 !important;
  color: #ffffff !important;
  color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background-color: #000000 !important;
  color: #000000 !important;
}
.btn-primary-outline:hover {
  color: #000000 !important;
}
.btn-secondary-outline {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline {
  background-color: transparent !important;
  border: 2px solid #000000 !important;
  color: #ffffff !important;
  color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  background-color: #000000 !important;
  color: #000000 !important;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline {
  background-color: transparent !important;
  border: 2px solid #333333 !important;
  color: #ffffff !important;
  color: #333333 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  background-color: #333333 !important;
  color: #000000 !important;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-warning-outline {
  background-color: transparent !important;
  border: 2px solid #808080 !important;
  color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #808080;
  color: #808080;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  background-color: #808080 !important;
  color: #000000 !important;
}
.btn-warning-outline:hover {
  color: #ffffff !important;
}
.btn-danger-outline {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.btn-danger-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline {
  background-color: transparent !important;
  border: 2px solid #333333 !important;
  color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  background-color: #333333 !important;
  color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #333333 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #333333 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffffff !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #666666 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ffffff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #000000;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a6a6a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 500;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rUTpFezVg4 {
  min-height: 80px !important;
  position: static;
}
.cid-rUTpFezVg4 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTpFezVg4 .nav-item:focus,
.cid-rUTpFezVg4 .nav-link:focus {
  outline: none;
}
.cid-rUTpFezVg4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTpFezVg4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rUTpFezVg4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rUTpFezVg4 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rUTpFezVg4 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rUTpFezVg4 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rUTpFezVg4 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rUTpFezVg4 .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rUTpFezVg4 .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rUTpFezVg4 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rUTpFezVg4 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rUTpFezVg4 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rUTpFezVg4 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rUTpFezVg4 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rUTpFezVg4 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rUTpFezVg4 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rUTpFezVg4 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rUTpFezVg4 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rUTpFezVg4 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rUTpFezVg4 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rUTpFezVg4 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rUTpFezVg4 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rUTpFezVg4 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rUTpFezVg4 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rUTpFezVg4 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rUTpFezVg4 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rUTpFezVg4 .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rUTpFezVg4 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rUTpFezVg4 .navbar.navbar-short {
  background: #ffffff;
}
.cid-rUTpFezVg4 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rUTpFezVg4 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rUTpFezVg4 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rUTpFezVg4 .dropdown-item.active,
.cid-rUTpFezVg4 .dropdown-item:active {
  background-color: transparent;
  color: #ffffff !important;
}
.cid-rUTpFezVg4 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rUTpFezVg4 .nav-dropdown .link.dropdown-toggle {
  margin: 0rem 1.3rem;
}
.cid-rUTpFezVg4 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0rem 1.3rem;
}
.cid-rUTpFezVg4 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-rUTpFezVg4 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rUTpFezVg4 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rUTpFezVg4 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rUTpFezVg4 .navbar-nav {
  margin: auto;
}
.cid-rUTpFezVg4 .navbar-buttons {
  text-align: center;
}
.cid-rUTpFezVg4 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rUTpFezVg4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rUTpFezVg4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rUTpFezVg4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rUTpFezVg4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rUTpFezVg4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rUTpFezVg4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rUTpFezVg4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rUTpFezVg4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rUTpFezVg4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rUTpFezVg4 .navbar-dropdown {
  padding-left: 0rem;
  position: fixed;
}
.cid-rUTpFezVg4 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rUTpFezVg4 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rUTpFezVg4 .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.cid-rUTpFezVg4 .icons-menu span {
  font-size: 20px;
  color: #354463;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rUTpFezVg4 .navbar {
    height: 77px;
  }
  .cid-rUTpFezVg4 .navbar.opened {
    height: auto;
  }
}
.cid-rUTpFezVg4 .btn {
  border-radius: 0px;
  margin: 0 !important;
}
.cid-rUTpFezVg4 .text-btn {
  transition: transform 0.3s;
}
.cid-rUTpFezVg4 .btn:hover {
  transform: scale(0.8);
}
.cid-rUTpFezVg4 .btn:hover .text-btn {
  transform: scale(1.2);
}
.cid-rUTpFezVg4 .nav-link {
  position: relative;
  display: inline-block;
}
.cid-rUTpFezVg4 .nav-link::before {
  content: "";
  width: 0%;
  display: block;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}
.cid-rUTpFezVg4 .nav-link:hover::before {
  width: 100%;
}
.cid-rUTpFezVg4 .dropdown-menu > a {
  position: relative !important;
  display: inline-block;
}
.cid-rUTpFezVg4 .dropdown-menu > a:hover {
  color: #c4c4c4 !important;
}
.cid-rUTpFezVg4 .link {
  margin: 0rem 1.2rem;
}
.cid-rUTpFezVg4 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: .7rem;
  content: "";
  pointer-events: none;
  display: inline-block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #777;
  right: -15px;
  top: 7px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  border: none !important;
}
.cid-rUTpFezVg4 .dropdown-menu > a::after {
  content: "";
  display: block;
  position: relative !important;
  width: 0%;
  height: 2px;
  background-color: #cccccc;
  margin-top: 4px !important;
  transition: width .3s;
  top: 83% !important;
  right: auto !important;
}
.cid-rUTpFezVg4 .dropdown-menu > a:hover::after {
  width: 100%;
}
.cid-rUTpFezVg4 .dropdown-menu::before {
  content: "";
  display: inline-block;
  border: 15px solid transparent;
  border-top: 20px solid #000000;
  position: absolute;
  top: -15px;
  left: 40px;
  transform: rotate(-90deg);
}
.cid-rUTpFezVg4 .navbar-caption {
  font-family: 'Permanent Marker', handwriting;
}
@media (max-width: 992px) {
  .cid-rUTpFezVg4 .nav-dropdown .link {
    padding: 0.5rem 0rem !important;
  }
  .cid-rUTpFezVg4 .navbar .navbar-collapse {
    padding: 1rem 0;
  }
  .cid-rUTpFezVg4 .dropdown-menu::before {
    display: none !important;
  }
  .cid-rUTpFezVg4 .btn:hover {
    background-color: #000000 !important;
    color: #000000 !important;
  }
  .cid-rUTpFezVg4 .dropdown-menu > a::after {
    display: none;
  }
  .cid-rUTpFezVg4 .navbar .dropdown.open > .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  .cid-rUTpFezVg4 .nav-link::before {
    display: none;
  }
  .cid-rUTpFezVg4 .dropdown-menu > a {
    color: #000000 !important;
  }
  .cid-rUTpFezVg4 .mbr-section-btn {
    margin-top: 1.5rem;
  }
  .cid-rUTpFezVg4 .btn {
    padding: 1.8rem 4rem;
    width: 100%;
  }
  .cid-rUTpFezVg4 .dropdown-menu .dropdown-toggle {
    color: #354463 !important;
  }
  .cid-rUTpFezVg4 .nav-dropdown .dropdown-item:focus,
  .cid-rUTpFezVg4 .nav-dropdown .dropdown-item:hover {
    color: #354463 !important;
  }
}
@media (max-width: 767px) {
  .cid-rUTpFezVg4 .container-fluid {
    padding: 1rem 1rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-rUTpFezVg4 .container-fluid {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-rUTpFezVg4 .container-fluid {
    padding-right: 0rem;
  }
  .cid-rUTpFezVg4 .nav-dropdown .link {
    padding: 1.8rem 0rem !important;
  }
  .cid-rUTpFezVg4 .btn {
    padding: 1.8rem 6rem;
  }
  .cid-rUTpFezVg4 .btn:hover {
    background-color: #000000 !important;
    color: #000000 !important;
  }
  .cid-rUTpFezVg4 .dropdown-menu > a {
    color: #ffffff !important;
  }
  .cid-rUTpFezVg4 .dropdown-menu > a:active {
    color: #ffffff !important;
  }
  .cid-rUTpFezVg4 .dropdown-menu .dropdown-toggle {
    color: #ffffff !important;
  }
  .cid-rUTpFezVg4 .nav-dropdown .dropdown-item:focus,
  .cid-rUTpFezVg4 .nav-dropdown .dropdown-item:hover {
    color: #ffffff !important;
  }
}
.cid-rUTpFezVg4 .btn-primary {
  color: #000000 !important;
}
.cid-rUTpFezVg4 .btn-primary:focus {
  background-color: #ffffff !important;
}
.cid-rUTpFezVg4 .navbar-dropdown.navbar-short .navbar-logo {
  margin-right: 0.8rem !important;
}
.cid-rUTpFezVg4 .navbar-dropdown.navbar-short .navbar-brand {
  padding: 0rem;
}
.cid-uvQxR0NAzx {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-uvQxR0NAzx .mbr-fallback-image.disabled {
  display: none;
}
.cid-uvQxR0NAzx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uvQxR0NAzx .container-fluid {
  padding: 0 56px;
}
@media (max-width: 992px) {
  .cid-uvQxR0NAzx .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uvQxR0NAzx .container {
    padding: 0 26px;
  }
}
.cid-uvQxR0NAzx .content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 45px;
}
@media (max-width: 992px) {
  .cid-uvQxR0NAzx .content-wrapper {
    padding: 20px;
  }
}
.cid-uvQxR0NAzx .content-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
  object-fit: cover;
}
.cid-uvQxR0NAzx .content-wrapper .content-wrap {
  width: 100%;
  position: relative;
  z-index: 1;
}
.cid-uvQxR0NAzx .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 40px;
}
.cid-uvQxR0NAzx .content-wrapper .content-wrap .text-wrapper .mbr-text {
  display: inline-flex;
  width: 50%;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-uvQxR0NAzx .content-wrapper .content-wrap .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-uvQxR0NAzx .mbr-section-title {
  color: #000000;
}
.cid-uvQxR0NAzx .mbr-text,
.cid-uvQxR0NAzx .text-wrapper {
  color: #ffffff;
  text-align: left;
}
.cid-uvQxR0NAzx .mbr-section-title,
.cid-uvQxR0NAzx .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-uvQqAgRFbp {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uvQqAgRFbp .mbr-fallback-image.disabled {
  display: none;
}
.cid-uvQqAgRFbp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uvQqAgRFbp .container-fluid {
  padding: 0;
}
@media (max-width: 768px) {
  .cid-uvQqAgRFbp .container-fluid {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .cid-uvQqAgRFbp .container {
    padding: 0 26px;
  }
}
.cid-uvQqAgRFbp .image-wrapper img {
  height: 450px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uvQqAgRFbp .image-wrapper img {
    height: 300px;
  }
}
.cid-uvQqAgRFbp .title-wrapper {
  padding: 0 98px 0 120px;
}
@media (max-width: 992px) {
  .cid-uvQqAgRFbp .title-wrapper {
    padding: 0 120px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .cid-uvQqAgRFbp .title-wrapper {
    padding: 0 26px;
  }
}
.cid-uvQqAgRFbp .title-wrapper .mbr-section-subtitle {
  margin-bottom: 18px;
}
.cid-uvQqAgRFbp .title-wrapper .mbr-section-title {
  margin-bottom: 18px;
}
.cid-uvQqAgRFbp .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uvQqAgRFbp .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-uvQqAgRFbp .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-uvQqAgRFbp .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-uvQqAgRFbp .mbr-section-title DIV {
  text-align: left;
}
.cid-uxqcu1QR6Y {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uxqcu1QR6Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-uxqcu1QR6Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uxqcu1QR6Y .container-fluid {
  padding: 0;
}
@media (max-width: 768px) {
  .cid-uxqcu1QR6Y .container-fluid {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .cid-uxqcu1QR6Y .container {
    padding: 0 26px;
  }
}
.cid-uxqcu1QR6Y .image-wrapper img {
  height: 450px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uxqcu1QR6Y .image-wrapper img {
    height: 300px;
  }
}
.cid-uxqcu1QR6Y .title-wrapper {
  padding: 0 98px 0 120px;
  padding: 0 120px 0 98px;
}
@media (max-width: 992px) {
  .cid-uxqcu1QR6Y .title-wrapper {
    padding: 0 120px;
  }
}
@media (max-width: 768px) {
  .cid-uxqcu1QR6Y .title-wrapper {
    padding: 0 26px;
  }
}
@media (max-width: 992px) {
  .cid-uxqcu1QR6Y .title-wrapper {
    padding: 0 120px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .cid-uxqcu1QR6Y .title-wrapper {
    padding: 0 26px;
  }
}
.cid-uxqcu1QR6Y .title-wrapper .mbr-section-subtitle {
  margin-bottom: 18px;
}
.cid-uxqcu1QR6Y .title-wrapper .mbr-section-title {
  margin-bottom: 18px;
}
.cid-uxqcu1QR6Y .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uxqcu1QR6Y .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-uxqcu1QR6Y .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-uxqcu1QR6Y .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-uxqcu1QR6Y .mbr-section-title DIV {
  text-align: left;
}
.cid-uxqgmQ08GU {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-uxqgmQ08GU .icon-transition span {
  align-items: center;
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 3em;
  width: 74px;
  height: 74px;
  background: #000000 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-uxqgmQ08GU .mbr-iconfont {
  align-items: center;
}
.cid-uxqgmQ08GU .mbr-iconfont:before {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.cid-uxqgmQ08GU .social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-uxqgmQ08GU .icon-transition span:hover {
  background-color: #ffffff;
  color: #000000;
}
.cid-uxqgmQ08GU .social-media {
  padding: 0;
}
.cid-uxqgmQ08GU .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-uxqgmQ08GU .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-uxqgmQ08GU .mbr-list,
.cid-uxqgmQ08GU .social-media UL {
  text-align: left;
}
@media (max-width: 767px) {
  .cid-uxqgmQ08GU .social-list {
    text-align: center !important;
  }
}
.cid-uxqgmQ08GU .mbr-section-title,
.cid-uxqgmQ08GU .social-list {
  color: #ffffff;
}
.cid-uvRqGj8qO0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-uvRqGj8qO0 .row {
  margin-left: -30px;
  margin-right: -30px;
  justify-content: center;
  row-gap: 60px;
}
.cid-uvRqGj8qO0 .row > [class*="col"] {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 991px) {
  .cid-uvRqGj8qO0 .row {
    row-gap: 40px;
  }
}
.cid-uvRqGj8qO0 .mbr-section-head {
  padding-bottom: 50px;
}
.cid-uvRqGj8qO0 .mbr-section-title {
  color: #000000;
}
.cid-uvRqGj8qO0 .mbr-section-subtitle {
  color: #303030;
  margin-top: 16px;
}
.cid-uvRqGj8qO0 .item-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.cid-uvRqGj8qO0 .item-img img {
  width: 100%;
  aspect-ratio: calc(131 / (59 * 2));
  object-fit: cover;
  transform: scale(1.01);
  transition: all .5s ease;
}
.cid-uvRqGj8qO0 .mbr-section-btn {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all .5s ease;
  margin: 0 !important;
}
@media (max-width: 575px) {
  .cid-uvRqGj8qO0 .mbr-section-btn {
    transform: translateY(-100%);
  }
}
.cid-uvRqGj8qO0 .mbr-section-btn .btn {
  width: 100%;
  margin: 0 !important;
  padding: 10px 34px 10px !important;
}
.cid-uvRqGj8qO0 .mbr-section-btn .btn:after {
  bottom: 11px !important;
  width: 50% !important;
}
.cid-uvRqGj8qO0 .item-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  transition: .3s all;
}
.cid-uvRqGj8qO0 .item-wrapper:hover .item-img img {
  transform: scale(1.05);
}
.cid-uvRqGj8qO0 .item-wrapper:hover .mbr-section-btn {
  transform: translateY(-100%);
}
.cid-uvRqGj8qO0 .item-content {
  margin-top: 32px;
}
.cid-uvRqGj8qO0 .item-title {
  color: #000000;
  text-align: center;
}
.cid-uvRqGj8qO0 .mbr-text {
  margin-top: 11px;
  color: #000000;
  text-align: center;
}
.cid-uvRqGj8qO0 .item-number {
  color: #9b8db7;
  margin-top: 22px;
}
.cid-uvRqGj8qO0 .item-border {
  width: 100%;
  height: 4px;
  margin-top: 3px;
  border-radius: 5px;
  background-color: #a87a2c;
}
.cid-uvRqGj8qO0 .item-text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 16px;
}
.cid-uvRqGj8qO0 .item-text {
  color: #000000;
}
.cid-uvQno4Hhcf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #efefef;
}
.cid-uvQno4Hhcf .mbr-fallback-image.disabled {
  display: none;
}
.cid-uvQno4Hhcf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uvQno4Hhcf .container-fluid {
  padding: 0 60px;
}
@media (max-width: 1440px) {
  .cid-uvQno4Hhcf .container-fluid {
    padding: 0 42px;
  }
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .container-fluid {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .container {
    padding: 0 16px;
  }
}
.cid-uvQno4Hhcf .title-wrapper .mbr-section-title {
  margin-bottom: 96px;
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .title-wrapper .mbr-section-title {
    margin-bottom: 48px;
  }
}
.cid-uvQno4Hhcf .panel-group .card {
  border-radius: 0 !important;
  padding: 24px 0;
  border-bottom: 1px solid #c1c1c1;
}
.cid-uvQno4Hhcf .panel-group .card:first-child {
  border-top: 1px solid #c1c1c1;
}
.cid-uvQno4Hhcf .panel-group .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title:not(.collapsed) .icon-wrapper .mbr-iconfont {
  transform: rotate(135deg);
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .panel-wrap {
  display: flex;
  align-items: center;
  width: 80%;
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .panel-wrap {
    width: 100%;
  }
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .panel-wrap .panel-number {
  min-width: 210px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .panel-wrap .panel-number {
    display: none;
  }
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .panel-wrap .panel-title-edit {
  width: 100%;
  margin-bottom: 0;
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .icon-wrapper {
  margin-left: 16px;
}
.cid-uvQno4Hhcf .panel-group .card .card-header .panel-title .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  font-size: 32px;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-uvQno4Hhcf .panel-group .card .panel-collapse .panel-body {
  display: flex;
  padding-top: 16px;
}
.cid-uvQno4Hhcf .panel-group .card .panel-collapse .panel-body .panel-padding {
  min-width: 210px;
}
@media (max-width: 992px) {
  .cid-uvQno4Hhcf .panel-group .card .panel-collapse .panel-body .panel-padding {
    display: none;
  }
}
.cid-uvQno4Hhcf .panel-group .card .panel-collapse .panel-body .panel-text {
  width: 60%;
  margin-bottom: 0;
  opacity: .7;
}
@media (max-width: 768px) {
  .cid-uvQno4Hhcf .panel-group .card .panel-collapse .panel-body .panel-text {
    width: 80%;
  }
}
.cid-uvQno4Hhcf .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uvQno4Hhcf .panel-number {
  color: #000000;
}
.cid-uvQno4Hhcf .panel-title-edit {
  color: #1c1c1c;
}
.cid-uvQno4Hhcf .panel-text {
  color: #000000;
}
.cid-uxqbdpMK0V {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #fafafa;
}
.cid-uxqbdpMK0V .tab {
  min-height: 700px;
  padding: 30px 1rem;
}
@media (max-width: 992px) {
  .cid-uxqbdpMK0V .tab {
    min-height: auto;
  }
}
@media (min-width: 992px) {
  .cid-uxqbdpMK0V .tab {
    padding: 30px 60px 200px;
  }
}
.cid-uxqbdpMK0V .nav {
  display: block;
}
.cid-uxqbdpMK0V .nav-tabs .nav-item.open .nav-link:focus,
.cid-uxqbdpMK0V .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-uxqbdpMK0V .nav-tabs {
  border-bottom: none;
}
@media (max-width: 767px) {
  .cid-uxqbdpMK0V .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-uxqbdpMK0V .nav-tabs .nav-link {
  padding: 0;
  transition: all .5s;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0 !important;
}
.cid-uxqbdpMK0V .nav-tabs .nav-link:not(.active) {
  color: #adadad !important;
}
.cid-uxqbdpMK0V .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-uxqbdpMK0V .nav-link,
.cid-uxqbdpMK0V .nav-link.active {
  color: #282828 !important;
  background-color: transparent;
}
.cid-uxqbdpMK0V .nav-tabs .nav-link.active {
  border-bottom: 1px solid transparent;
}
.cid-uxqbdpMK0V .google-map {
  height: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .cid-uxqbdpMK0V .google-map {
    height: 400px;
  }
}
.cid-uxqbdpMK0V .google-map iframe {
  height: 100%;
  width: 100%;
  filter: grayscale(1);
}
.cid-uxqbdpMK0V .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uxqbdpMK0V .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uxqbdpMK0V .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (min-width: 992px) {
  .cid-uxqbdpMK0V .mB {
    margin-bottom: 160px;
  }
}
.cid-uxqbdpMK0V P {
  color: #000000;
}
.cid-rUTpHPmDUm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-rUTpHPmDUm .mbr-overlay {
  background-color: #232323;
  opacity: 0.5;
}
.cid-rUTpHPmDUm .mbr-section-subtitle {
  font-weight: 700 !important;
  color: #ffffff;
  margin-bottom: 0.7rem;
  text-align: center;
}
.cid-rUTpHPmDUm input,
.cid-rUTpHPmDUm textarea {
  font-size: 14px;
}
.cid-rUTpHPmDUm input {
  padding: 1.5rem 1.8rem!important;
  border-radius: 50px;
}
.cid-rUTpHPmDUm textarea {
  padding: 0.9rem 2rem!important;
  border-radius: 30px;
  height: 100%;
}
.cid-rUTpHPmDUm .form-group {
  margin-bottom: 1.9rem;
  padding: 0rem;
}
.cid-rUTpHPmDUm .col-auto {
  width: 100%;
  text-align: center;
}
.cid-rUTpHPmDUm img {
  width: 90%;
  border-radius: 8px;
}
.cid-rUTpHPmDUm .mbr-form .btn {
  margin: .4rem .4rem;
  margin-left: 0rem;
}
.cid-rUTpHPmDUm .btn {
  padding: 1rem 3.5rem!important;
}
.cid-rUTpHPmDUm .title-block {
  margin-bottom: 2rem;
}
.cid-rUTpHPmDUm .form-control,
.cid-rUTpHPmDUm .field-input {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rUTpHPmDUm .form-control:hover,
.cid-rUTpHPmDUm .field-input:hover {
  background-color: #efefef;
  border-color: #e2e3e7;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rUTpHPmDUm .form-control:focus,
.cid-rUTpHPmDUm .field-input:focus {
  background-color: #ffffff;
  border-color: #e2e3e7;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rUTpHPmDUm input::-webkit-input-placeholder,
.cid-rUTpHPmDUm textarea::-webkit-input-placeholder {
  color: #000000;
}
.cid-rUTpHPmDUm input:-moz-placeholder,
.cid-rUTpHPmDUm textarea:-moz-placeholder {
  color: #000000;
}
.cid-rUTpHPmDUm .jq-selectbox li,
.cid-rUTpHPmDUm .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rUTpHPmDUm .jq-selectbox li:hover,
.cid-rUTpHPmDUm .jq-selectbox li.selected {
  background-color: #efefef;
  color: #000000;
}
.cid-rUTpHPmDUm .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rUTpHPmDUm .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #efefef;
}
.cid-rUTpHPmDUm H5 {
  padding-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}
.cid-rUTpHPmDUm .mbr-text {
  color: #777777;
}
.cid-rUTpHPmDUm .mbr-form {
  padding: 0rem;
}
.cid-rUTpHPmDUm .btn-form {
  margin-top: 0.2rem;
  padding-left: 1rem;
}
@media (max-width: 767px) {
  .cid-rUTpHPmDUm .form-row {
    margin: 0;
  }
  .cid-rUTpHPmDUm .btn-form {
    width: 100%;
    padding-right: 1rem;
  }
  .cid-rUTpHPmDUm .btn {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .cid-rUTpHPmDUm img {
    width: 100%;
  }
}
.cid-rUTpHPmDUm .form-row > [class*=col-] {
  padding: 0 1rem;
}
.cid-rUTpHPmDUm .mbr-text,
.cid-rUTpHPmDUm .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uvRqL1iyid {
  padding-top: 0rem;
  padding-bottom: 0rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-uvRqL1iyid .mbr-fallback-image.disabled {
  display: none;
}
.cid-uvRqL1iyid .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uvRqL1iyid .container-fluid {
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .cid-uvRqL1iyid .container-fluid {
    padding: 0;
  }
}
.cid-uvRqL1iyid .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uvRqL1iyid .container {
    padding: 0 20px;
  }
}
.cid-uvRqL1iyid .row {
  justify-content: center;
  align-items: center;
  position: relative;
}
.cid-uvRqL1iyid .row a {
  display: block;
  position: absolute;
  width: fit-content;
}
.cid-uvRqL1iyid .row a .mbr-iconfont {
  width: 102px;
  height: 102px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #ffffff;
  color: #6a6e71;
}
@media (max-width: 992px) {
  .cid-uvRqL1iyid .row a .mbr-iconfont {
    width: 70px;
    height: 70px;
  }
}
.cid-uvRqL1iyid .card {
  padding: 0;
}
.cid-uvRqL1iyid .card img {
  height: 240px;
  object-fit: cover;
}
.cid-uvRqL1iyid .line-gradient {
  background-image: linear-gradient(45deg, #000000, #555555, #000000);
  height: 10px;
}
.cid-uvRqL1iyid .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-uvRqL1iyid .mbr-emoji {
  color: #ffffff;
}
.cid-uvRwKSIlkH {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-uvRwKSIlkH .mbr-text {
  color: #E1F5FF;
}
.cid-uvRwKSIlkH .media-container-row .mbr-text {
  color: #ffffff;
}
